@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src:url('assets/Nunito_Sans/NunitoSans-Regular.ttf'), 
         url('assets/Nunito_Sans/NunitoSans-Black.ttf'),
         url('assets/Nunito_Sans/NunitoSans-Bold.ttf'),
         url('assets/Nunito_Sans/NunitoSans-ExtraBold.ttf'),
         url('assets/Nunito_Sans/NunitoSans-ExtraLight.ttf'),
         url('assets/Nunito_Sans/NunitoSans-Light.ttf'),
         url('assets/Nunito_Sans/NunitoSans-SemiBold.ttf')
}

body{
    margin: 0;
    color: #464646;
    background: #fff;
    font-family: 'Nunito Sans', sans-serif;
}
h1,h2,h3,h4,h5,p{
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* ------- header ------- */
.wrap {
    position: relative;
    height: 100vh;
}
header {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: #f0f0f0;
}

.nav, .nav_list{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.nav {
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.nav_link{
    position: relative;
    padding: 15px 0;
    transition: .4s;
}
.nav_link:hover{
    color: #1fc51f;
}
.nav_link:hover::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 3px;
    background-color: #1fc51f;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.nav_icon img{
    cursor: pointer;
}


/* ------- Menu ------- */
.menu{
    position: absolute;
    max-width: 800px;
    height: 95vh;
    overflow-y: scroll;
    z-index: 2;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    background-color: #d4ddec;
    display: none;
    font-size: 14px;
}
.menu p{
    font-size: 11px;
}
.menu_data{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 40px;
}
.menu .nav{
    padding: 15px 0;
    background-color: transparent;
}
.menu .nav_link:hover{
    color: black;
}
.cross_icon{
    display: flex;
    justify-content: end;
}
.cross_icon img {
    background-color: #fff;
    border-radius: 50%;
    width: 23px;
    cursor: pointer;
    padding: 3px;
}
.menu .nav_link:hover::after{
    background-color: #3b3bf5;
    height: 4px;
    width: 25px;
    border-radius: 15px;
}
/* app  */
.app_contents{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.app_item{
    width: 160px;
    padding: 25px 0;
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}
.app_item:hover{
    background-color: #ffffff;
}
.app i , .recommended i{
    font-size: 40px;
    color: red;
}
/* Apps */
.apps{
    display: none;
}
.all_app .app_item{
    width: 130px;
    padding: 20px 0;
    background: none;
}
.all_app .app_item:hover{
    background-color: #fff;
}
/* ------- recommended ------- */
.app_contents, .recommended{
    padding: 20px 0;
}
.recommended h2{
    font-size: 14px;
}
.recommended_contents{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 20px;
}
.recommended_item {
    width: 40%;
    display: flex;
    gap: 10px;
    padding: 20px 30px;
    cursor: pointer;
    transition: .6s;
}
.recommended_item:hover{
    background-color: #fff;
    border-radius: 10px;
}
/* search */
.searchs {
    position: absolute;
    width: 100%;
    top: 150px;
    z-index: 1;
}
.search_box {
    position: relative;
    max-width: 550px;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 4px gray;
}
.search_form {
    display: flex;
    align-items: center;
}
.search {
    outline: none;
    border: none;
    background: #fff;
    width: 75%;
    padding: 8px 10px;
    font-size: 15px;
    font-size: 20px;
    color: gray;
}
.search_box i {
    font-size: 30px;
    cursor: pointer;
}

/* search Suggestion */
.search_list{
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
}
.search_list li {
    padding: 8px 10px;
    cursor: pointer;
    margin: 5px 0;
}


/* search_popup */
.search_popup {
    max-width: 380px;
    background: #f6f6f6;
    text-align: center;
    padding: 20px 10px;
    position: absolute;
    top: 4rem;
    right: 0;
    display: none;
    z-index: 1;
}
.search_popup_data{
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;

}
.search_cors {
    position: absolute;
    right: 2rem;
    top: .5rem;
    cursor: pointer;
    font-size: 20px;
}
.sbiIdc {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: #f6f6f6;
    transform: rotate(45deg);
    top: -10px;
    right: 80px;
}
.dropzone {
    background: #e3e3e3;
    border: 2px dashed #b5b5b5;
    padding: 14px 5px;
    margin: 15px 5px;
    border-radius: 5px;
}
.drop_ab{
    position: relative;
    margin: 20px 0;
}

.drop_ab::after {
    position: absolute;
    content: '';
    display: block;
    width: 35%;
    height: 1px;
    top: 50%;
    background: #c1c1c1;
    right: 20px;
}
.drop_ab::before {
    position: absolute;
    content: '';
    display: block;
    width: 35%;
    height: 1px;
    top: 50%;
    background: #c1c1c1;
    left: 20px;
}
.dropzone_url input {
    background: white;
    padding: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    margin: 10px 10px 0;
    outline: none;
    text-align: center;
    width: 85%;
}
.search_popup_img {
    margin-top: 20px;
}
.search_popup_img img {
    width: 83px;
    height: 83px;
    margin: 2px;
    border-radius: 4px;
    cursor: pointer;
}
/* ------- Customize browser------- */

.customize_edit {
    position: absolute;
    right: 64px;
    bottom: 64px;
    display: flex;
    align-items: center;
    gap: 7px;
    background: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    box-shadow: 0 0 4px gray;
    cursor: pointer;
}
.customize h4 img{
    color: #a0a2ff;
}

/* customize Popup  */
.customize_popup{
    position: absolute;
    width: 768px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 4px gray;
    padding: 20px;
}
.customize_data {
    display: flex;
    gap: 30px;
    border-radius: 10px;
}
.customize_menu img {
    margin-bottom: -8px;
    max-width: 140px;
}
.customize_menu {
    margin-top: 20px;
}
.customize_menu li {
    background: #eaeaea;
    box-shadow: 0 0 4px gray;
    padding: 7px 0 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    width: 180px;
    margin-top: 20px;
}
.customize_Bg h4{
    padding: 10px 0;
}
.customize_shortcut {
    height: 400px;
    overflow-y: scroll;
    padding: 0 10px;
}
.customize_contents {
    display: flex;
    gap: 20px 12px;
    flex-wrap: wrap;
}
.customize_content {
    width: 115px;
    cursor: pointer;
}
.customize_content img {
  width: 100%;
}
.customize_content h5{
    margin-top: 10px;
}
.upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #cecece;
    margin-bottom: 30px;
}
.upload img {
    width: 50px;
}

/* browser */
.shortcut, .customize_theme{
    display: none;
}
.shortcut_contents {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.shortcut_content {
    display: flex;
    cursor: pointer;
    background: gray;
    padding: 20px 0px 20px 25px;
    width: 180px;
    justify-content: center;
    border-radius: 10px;
    transition: .5s;
    border: 1px solid #6f6fff;
    position: relative;
    z-index: 0;
}
.shortcut_content:hover {
    background: #1d1c2285;
}
.shortcut_browser {
    display: flex;
    flex-direction: column;
    width: 80px;
    background: #373737;
    gap: 30px;
    padding: 20px;
    border: 2px solid #465c71;
    border-radius: 5px;
}
.shortcut_user {
    position: absolute;
    z-index: -1;
    left: 20px;
    bottom: 54px;
}
.shortcut_user img {
    width: 70px;
}
.shortcut_check {
    position: absolute;
    right: 35px;
    background: #bdbdbd;
    border-radius: 50%;
    padding: 0px 2px;
    top: 9px;
}
.shortcut_hide {
    display: flex;
    align-items: center;
    gap: 35px;
    background: #6f6f6f;
    padding: 5px 20px 15px;
    color: white;
    margin: 20px 0;
    border-radius: 10px;
    position: relative;
}
.shortcut_toggle {
    position: absolute;
    right: 25px;
}
.theme_contents {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.theme_content img{
    border-radius: 50%;
}
.theme_edit img {
    padding: 25px;
    background: #c1c1c1;
}

.customize_btn {
  display: flex;
  gap: 20px;
  justify-content: end;
  margin: 20px 0 0;
}
.customize_btn div {
    box-shadow: 0 0 4px gray;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.customize_btn div:hover {
    background-color: #cccccc;
}

 /* browse add   */
.brose_web {
    padding-top: 243px;
    max-width: 560px;
    margin: 0 auto;
    /* position: relative; */
}
.brose_contents{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.brose_content {
    position: relative;
    width: 125px;
    height: 130px;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
    transition: .5s;
    cursor: pointer;
}
.brose_content:hover{
    background: gray;
    color: #fff;
}
.brose_head {
    background: #9e9e9e;
    border-radius: 50%;
    padding: 13px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}

.brose_head h4 {
    background: #ff523b;
    border-radius: 50%;
    padding: 0px;
    color: #fff;
}
.brose_link {
    margin-top: 20px;
    font-weight: 600;
}
.brose_menu {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 0px 2px;
    opacity: 0;
}
.brose_menu:hover {
    background: #b9b9b9;
    border-radius: 50%;
}
.brose_content:hover .brose_menu{
    opacity: 1;
}
.browse_edit {
    background: #3c3c3c;
    position: absolute;
    width: 160px;
    text-align: left;
    padding: 10px 0px;
    border-radius: 5px;
    top: 30px;
    left: -14px;
    color: #fff;
    display: none;
}
.browseEdit_show{
    display: block;
}
.browse_edit h4 {
    padding: 10px 20px;
    cursor: pointer;
}
.browse_edit h4:hover{
    background-color: gray;
}
.brose_add img {
    width: 50px;
    margin-top: 10px;
    cursor: pointer;
}

/* broseUpload */
.broseUpload {
    position: absolute;
    width: 560px;
    top: 150px;
    z-index: 1;
    background: white;
    box-shadow: 0 0 4px gray;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);
    display: none;
}
.broseUpload_data{
    padding: 30px 30px 0 30px;
}
.broseUpload_data h3 {
    padding-bottom: 20px;
}
.broseUpload input {
    width: 100%;
    margin: 7px 0 20px;
    padding: 6px 5px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}
.broseUpload_data .customize_btn{
    margin-bottom: 20px;
}
/* ------- Footer ------- */
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #f0f0f0;
}
footer span{
    padding-left: 10px;
}

/* responsive */
@media screen and (max-width: 768px){
    .nav_list{
        gap: 1rem;
    }
    .menu{
        margin-right: 20px;
    }
    .recommended_item{
        width: 100%;
    }
    .app i, .recommended i {
        font-size: 30px;
    }
    h2{
        font-size: 14px;
    }
    .customize_popup{
        width: 98%;
    }
    .customize_menu li{
        width: 150px;
    }
    .customize_menu img {
        margin-bottom: -6px;
        width: 20px;
    }
    .customize_contents {
        justify-content: center;
    }
}
@media screen and (max-width: 576px){
    .app_item {
        width: 93px;
        padding: 10px 0;
    }
    .search{
        width: 70%;
    }
    .search_box i {
        font-size: 25px;
    }
    .customize_content {
        width: 92px;
    }
    .broseUpload{
        max-width: 90%;
    }
    .customize_edit{
        bottom: 100px;
    }
}
@media screen and (max-height: 576px){
    .search_popup_data{
        max-height: 210px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .customize_shortcut {
        height: 250px;
        overflow-y: scroll;
        padding: 0 10px;
    }
}